@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ns-brown: #70412D;
  --ns-beige: #E9D5BB;
  --ns-offwhite: #F9F5E9;
  --ns-gold: #C6A46A;
}

body {
  background: var(--ns-offwhite);
  color: var(--ns-brown);
  font-family: var(--font-inter);
}

h1, h2, h3 {
  font-family: var(--font-playfair);
}

.highlight {
  font-family: var(--font-cormorant);
}